body {
    margin: 0;
    overflow-x: hidden;
}

.container {
    width: 45%;
    border: 1px solid red;
}

.sub-container {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr 1fr;
    row-gap: 10px;
}

.sub-container .title {
    width: 80vh;
    background-color: #1c2280;
}

.image img {
    width: 15vw;
    height: 30vh;
}