body {
    margin: 0;
    overflow-x: hidden;
}

.container {
    width: 97%;
    margin-left: 40px;
  }

.top {
    display: flex;
    font-size: 18px;
}

nav ul {
    padding-left: 0;
}

ul li {
    display: inline;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
}

.mini-container {
    display: grid;
    grid-template-columns: 1fr 5fr 3fr;
    border: 1px solid red;
    column-gap: 25px;
}

.side-images {
    border: 1px solid red;
    padding-left: 25px;
    padding-right: 25px;
}

.main-image {
    border: 1px solid blue;   
}

.pdt-img {
    height: 120vh;
    width: 60vw;
}


.pdt-info {

    border: 1px solid yellow;
}

.pdt-name {

}

.fas fa-star {

}

.fas fa-star-half {

}

.reviews {

}

.shipping {

}

.shipping-spn {

}

.pdt-price {

}

.pdt-price-spn {

}

.current-colour {

}

.current-colour-spn {

}

.swatch-img {
    border: 3px solid blue;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

.size {

}

.size-spn {

}

.size-spn-link {

}

.swatch-size {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.swatch-size-detail {
    /* border: 1px solid red; */
    margin: auto;
}

.bottom-half {

}

.item-qnty {

}

.item-qnty-dse {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    outline: none;
    font-size: 20px;
}

input {
    width: 35px;
    height: 35px;
}



.item-qnty-inse {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    outline: none;
    font-size: 20px;
}

.pdt-btns {

}

.add-to-bag {
    display: block;
    width: 100%;
    height: 5em;
    cursor: pointer;
    margin-bottom: 7px;
}

.add-to-bag-spn {
    text-align: center;
}

.buy-online {
    display: block;
    width: 100%;
    height: 5em;
    cursor: pointer;
}

.buy-online-spn {
    display: block;
    text-align: center;
    border: 1px solid red;
}

.get-it-today-spn {
    display: block;
    text-align: center;
    border: 1px solid red;
}

.ssd-availability {
    margin-top: 30px;
}

.ssd-availability p {
    text-align: center;
}

.sdd-link {

}

.payment-options {
    display: flex;
    justify-content: center;
}

.options {
    display: inline;
    margin: 2px;
}

.paypal-img {
    width: 70px;
    height: 25px;
}

.amazon-img {
    width: 70px;
    height: 25px;
}

.applepay-img {
    width: 35px;
    height: 25px;
}

.terms-and-conds {
    display: block;
}

.or-payments {
    text-align: center;
}

.afterpay-img {
   width: 70px;
   height: 25px; 
   /* margin-top: 20px; */
}